body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  background: linear-gradient(#000000, #3B3B3B);
}

header {
  padding: 1em 0em;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

header nav {
  display: flex;
  font-size: 2em;
  font-weight: bold;
  color: #FFA10D;
  justify-content: flex-end;
}

header p {
  padding: 0em 1em;
  margin: 0em;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/spaceHulk.jpg");
  background-size: cover;
  color: #ffffff;
  height: 700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 6em;
  font-weight: 700;
  margin: 0em;
  color: #fff;
}

.jumbotron h3 {
  margin: 0em 0em 2em;
  color: #fff;
}

section .row img {
  margin: 0em 0em 3em;
  padding: 2em;
  width: 300px;
  height: 300px;
}

section h3 {
  font-size: 3em;
  font-weight: bold;
  color: #E8590C;
}

section p {
  font-size: 2em;
  font-weight: normal;
  color: #E8590C;
}

figure .row {
  margin: 0em 0em 3em;
  padding: 2em;
  border: 6px double #00FFFB;
  border-radius: 10px;
}

.infestation-button {
  margin: 0 auto;
  padding: 0.75em 1.25em;
  background: linear-gradient(to bottom right, #390A42, #7B158F);
  opacity: 1;
  width: 15em;
  color: whitesmoke;
  font-size: 2em;
}

.active {
  background: #333333;
}

footer {
  font-size: 2em;
  padding: 0.5em 0;
  color: #FFF;
  background: linear-gradient(to bottom right, #186778, #2FC7E8);
  background-size: cover;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
