body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  background-image: url('http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/873/thumbs/tileable-metal-textures-1.jpg');
  background-repeat: repeat;
}

header {
  padding: 20px 0;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  font-size: 5em;
  font-weight: bold;
  color: #FFA10D;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://vignette2.wikia.nocookie.net/warhammer40k/images/6/6f/Space_Hulk_by_Zen_Master.jpg/revision/latest?cb=20120914182757');
  background-size: cover;
  color: #ffffff;
  height: 700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  font-size: 3em;
  font-weight: bold;
  color: #E8590C;
  margin: 0 0 30px;
  width: 300px;
  height: 300px;
}

.col-md-3 {
  margin: 0 0 30px;
}
