body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  background: linear-gradient(#000000, #3B3B3B);
}

header {
  padding: 2em 0em;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  font-size: 4em;
  font-weight: bold;
  color: #FFA10D;
  justify-content: flex-end;
}

header p {
  padding: 0em 2em;
  margin: 0em;
}

.jumbotron-orks {
  display: flex;
  align-items: top center;
  background-image: url("images/OrksFaction.jpg");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron-chaos {
  display: flex;
  align-items: top center;
  background-image: url("images/ChaosFaction.jpg");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron-marines {
  display: flex;
  align-items: top center;
  background-image: url("images/spaceMarinesFaction.jpg");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron-sisters {
  display: flex;
  align-items: top center;
  background-image: url("images/SistersFaction.jpg");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron-sisters h2,
.jumbotron-marines h2,
.jumbotron-chaos h2,
.jumbotron-orks h2 {
  font-size: 4em;  
  font-weight: bold;
  margin: 0em;
  color: #fff;
}

.jumbotron-sisters h3,
.jumbotron-marines h3,
.jumbotron-chaos h3,
.jumbotron-orks h3 {
  margin: 0em;
  font-style: italic;
  font-size: 3em;
  color: #fff;
}

.jumbotron-sisters h4,
.jumbotron-marines h4,
.jumbotron-chaos h4,
.jumbotron-orks h4 {
  font-size: 2em;
}

section .row img {
  margin: 0em 0em 3em;
  padding: 2em;
  width: 300px;
  height: 300px;
}

section p {
  font-size: 3em;
  font-weight: bold;
  color: #E8590C;
}

.col-md-3 {
  margin: 0em 0em 3em;
  padding: 2em;
}
